//- index.pugで使用しているhtmlタグを一定のルールに沿って、
//- WordPress用のタグに置き換えるためのデータとロジックをまとめています。

//- データ : タイトルを格納しているデータのキーがtitleであった場合、
//- コンパイル後のHTML、PHP双方の該当箇所で以下のように生成されるようにしていく。
  //- [HTML]
  //- ほげほげ
  //- [PHP]
  //- <?php the_title(); ?>
-
  let pageDataObj = [{
    title: "ほげほげ"
  }];
  let wp_the_title = "";
  pageDataObj.forEach(item => {
    if ("title" in item) {
      wp_the_title = "<?php the_title(); ?>";
    }
  });

//- != wp_the_title